
<section class="hero is-info is-bold"">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Home Assistant View
      </h1>
    </div>
  </div>
</section>

<section>
<div class="columns is-centered">
  <div class="column is-one-third is-narrow">
    <div style="margin-top:20px;">

            <a ng-show="ledon" ng-click="switch()" class="button is-warning">Turn Lights On/Off</a>
            <a ng-show="!ledon" ng-click="switch()" class="button is-success">Turn Lights On/Off</a>

    </div>





    <div class="box" style="margin-top:20px;">

        <div >
            Temperature = {{tempdata.t}} *C
        </div>

        <div >
            Humidity = {{tempdata.h}} %
        </div>


        <a ng-click="gettemp()" class="button is-info">Refresh</a>
    
  
    </div>
  </div>
</div>

</section>